.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
*{
    h3{
        color: rgb(53, 52, 52);
    }
}
.banner{
    background-image: url(../assets/Hero-bg.png);
    height: 480px;
    width: 1200px;
    background-size: cover;
    background-position: center;
}
.contaner{
    margin: 0 auto;
    width: 900px;
    height: 500px;
}
.hero{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;   
}
img{
    width: 150px;
    height: 180px;
}
.btn-1{
    padding: 12px;
    border-radius: 5px;
    background-color: rgb(0, 0, .5);
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.hero h1{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 50px;
    padding: 0 20px;
    text-align: center;
    color: rgb(0, 0, .5);
}
.hero p{
    font-size: 15px;
    color: rgb(96, 96, 100);
    text-align: center;
    margin: 0 50px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.parent{
    margin: 10px;
}
.contaners{
    width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0px;
}
.contaners h1{
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 0 20px;
    text-align: center;
    color: rgb(0, 0, .5);
}
.contaners .ptag{
    font-size: 15px;
    color: rgb(96, 96, 100);
    text-align: center;
    margin: 0 50px;
    padding: 20px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.about-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.about-me1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    margin-right: 200px;
}
.about-me3{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    margin: 0 80px;
}
.about-me1 p{
    font-size: 15px;
    color: rgb(96, 96, 100);
    text-align: start;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.about-me3 p{
    font-size: 15px;
    color: rgb(96, 96, 100);
    text-align: start;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.btn{
    padding: 12px;
    border-radius: 5px;
    background-color: rgba(0, 0, 1, 0.164);
    color: rgb(0, 0, .5);
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.child{
    padding: 0 20px;
}
.child-1{
    padding: 20px; 
}
.card{
    display: flex;
    gap: 25px;  
}
.card img{
    width: auto;
    height: 50px;
    margin-bottom: 10px;
}
.card p{
    padding: 20px 0px;
    font-size: 15px;
    color: rgb(96, 96, 100);
    text-align: start;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.card-1{
    padding: 10px;
    background-color: rgba(245, 241, 220, 0.555);
    box-shadow: 0px 4px 5px 4px rgb(159, 157, 157); 
    border-radius: 5px; 
}
.card-2{
    padding: 10px;
    background-color: rgba(247, 247, 201, 0);
    box-shadow: 0px 4px 5px 4px rgb(159, 157, 157);
    border-radius: 5px;  
}
.card-3{
    padding: 10px;
    background-color: rgba(245, 208, 244, 0.189);
    box-shadow: 0px 4px 5px 4px rgb(159, 157, 157); 
    border-radius: 5px; 
}
.new-contant{
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
.support{
    padding: 40px;
}
.new-contant h1{
    color: white;
}
.new-contant p{
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 0 50px;
    padding: 20px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.submit{
    padding-left: 170px;
}
/*.submit form textarea{
    border-radius: 5px;
    padding: 5px 15px;
    border: none;
}
.submit form input{
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}*/
.submit-child{
    padding: 8px 80px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
}

.submit-child1{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}
.new-child{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.icons img{
    width: auto;
    height: 18px;
}